<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Methods 2024 - Alex Ellingsen - Unique Characters</title>
</head>
<body>
    <h1>Alex Ellingsen - Unique Characters</h1>
    <p>
    This is my solution for the unique characters problem. The program returns "True" if the string is made up of completely unique characters, meaning there are no repeats. If any character is repeated, it returns "False".
    </p>
    <a href="./uniqueStrings.py" target="_blank">My Solution</a>
    <p>Instructions</p>
    
    <p>To run my solution, use the command ./run.sh. The program will prompt you for a string, and then return true or false if the string is unique.
       If there is a problem running the script, you may need to change the "python" call in the run.sh file to "python3".
    </p>
    <p>
      Alternatively, you can use the form below to run the program. Enter a string, then hit the Check button to get True if the string is unique,
      and false if it contains repeated characters. 
    </p>

    <form method="post" action="/unique_string"> 
      <label for="string">Enter your string here:</label>
      <input type="text" name="string">
      <input type="submit" value="Check">
    </form>
    {% if answer %}
    <p>Is the string made of unique characters? {{ answer }}</p>
    {% endif %}
    <p>
    Navigation
    <ul>
      <li><a href="../../index.html">Back</a></li>
    </ul>
    </p>
</body>
</html>
