<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Methods 2024 - Problem - FizzBuzz</title>
</head>
<body>
    <h1>Ryan Gross - Solution - python - FizzBuzz</h1>
    
    <h3>FizzBuzz Form</h3>
    <form action="/index" method="POST"> 
        <label for="fbnum">Enter an Integer:</label><br>
        <input type="number" id="fbnum" name="number" value="{{ number }}"><br>
        <input type="submit" value="FizzBuzz it">
    </form>
    <br>
    <div id="fizzbuzz-result" {% if not result %} style="display: none;"{% endif %}>
        {% if result %}
            <pre>{{ result }}</pre>
        {% endif %}
    </div>


    <br>
    <p>How to run from command line:
        <ol>
            <li>Change permissions w chmod if needed</li>
            <li>To run normally: 'bash run.sh (Integer)</li>
            <li>To run tests: 'python test.py' or 'bash run_tests.sh'</li>
        </ol>
    </p>


    <p>
    Navigation
    <ul>
      <li><a href="../../index.html">Back</a></li>
    </ul>
    </p>
</body>
</html>
