body {
  font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 20%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 8px;
    text-align: left;
    padding-left: 15px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: underline;
    color: rgb(4, 105, 138);
}
td:hover {
  background-color: #f2f2f2;
}
.nav {
    padding-left: 15px;
    text-decoration: underline;
}